<section class="directory-container" [ngStyle]="modal.isActive ? {filter: 'blur(2px)'} : {}">
  <div class="directory-content">
    <ul class="directory">
      <li class="directory__item" *ngFor="let dir of directories" (click)="selectDirectory(dir.id)">
        {{dir.name}}
      </li>
      <li class="directory__item" (click)="modal.openModal()">
        <b>+ Добавить директорию</b>
      </li>
    </ul>
  </div>
</section>

<app-modal title="Создание директории"
           [isValid]="form.valid"
           (ok)="addDirectory(form.value)">
  <form [formGroup]="form">
    <label>
      <span class="input-label">
        Название директории
      </span>
      <input class="input" autofocus formControlName="name">
    </label>
  </form>
</app-modal>

