<section class="directory-container">
  <div class="directory-content">
    <div class="directory">
      <span>
        Lbhtrnjhbz 1
      </span>
      <div class="directory">
        <div class="directory__name">
          Lbhtrnjhbz 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa dolorem ipsa iste laborum magni optio quis, sunt. Aperiam at debitis excepturi exercitationem iure libero maxime nihil officia quo sunt?
        </div>
      </div>
    </div>
  </div>
</section>
