.modal-container {
  background-color: rgba(0, 0, 0, .1);
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal {
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .44);
  z-index: 10;
}

.modal-header, .modal-body, .modal-footer {
  padding: 8px 16px;
}

.modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 16px;
}

.modal-title {
  font-family: "Avenir Next Cyr Bold", Helvitica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
}

.modal-body {
  width: 600px;
}

.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  justify-content: flex-end;
}
